header#g-header {
  background-image: url('/circotheque/images/headers/received_2929739063809139.jpeg') !important;
  background-position: 0 50% !important;
  background-size: 100% !important;
  height: 200px;
  background-repeat: no-repeat;

  .gantry-logo img {
    width: 250px !important;
  }
}
